[data-md-color-scheme="default"] {
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #000000;
  --md-accent-fg-color: #ddc152;
  --md-typeset-a-color: #007639;
}

.md-tabs__item--active {
  color: #007639;
  opacity: 1;
  font-weight: bold;
}


[dir=ltr] .md-header__title {
  margin-left: 0;
  margin-right: 0;
}

.md-header__topic {
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.md-tabs {
  display: flex;
  color: #ddc152;
  justify-content: center;
  box-shadow: 0 0 0.2rem #0000001a, 0 0.2rem 0.4rem #0003;
}

.md-tabs__link {
  color: black;
}

.md-header__button.md-logo img {
  width: 6rem;
  height: auto;
  padding-left: 10px;
}


.md-grid {
  max-width: 80%;
}

.md-header__inner  {
  max-width: 100%;
  padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9c9c9c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(75, 75, 75, 0.714);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818e0;
}


.md-header__topic {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
}